@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Noto';
  src: url('../public/fonts/Noto_Serif_JP/NotoSerifJP-Medium.otf');
} */

*,*::before,*::after 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-color: transparent transparent;
}
*::-webkit-scrollbar {
  display: none;
}

.noto{
  font-family: 'Noto';
  font-style: italic;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
.hoverLink
{
  display:inline-block;
  position: relative;
  padding-bottom: .1rem;
}
.hoverLink:hover.hoverLink::before
{
  transform: scaleX(1);
  transform-origin: left;
}
.hoverLink::before
{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

.hoverLink-b::before
{
  background: black;
}

.hoverBtn:hover p
{
  color: white;
}
.hoverBtn:hover span
{
  background: white;
}
.hoverBtn:hover path
{
  fill: white;
}
.hoverBtn-w:hover p
{
  color: #202020;
}
.hoverBtn-w:hover span
{
  background: #202020;
}
.hoverBtn-w:hover path
{
  fill: #202020;
}

.hoverBtn__div
{
  transform: scaleY(0);
  transition: transform .5s;
  transform-origin: top;
}

.hoverBtn:hover .hoverBtn__div
{
  transform: scaleY(1);
  transform-origin: bottom;
}

.slider_btn div
{
  transform: scaleY(0);
  transition: transform .3s;
  transform-origin: top;
}
.slider_btn:hover div
{
  transform: scaleY(1);
  transform-origin: bottom;
}
.slider_btn:hover polygon
{
  fill:black;
}
.slider_btn-w:hover polygon
{
  fill:white;
}



.hoverItem span::before
{
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .6s;
} 

.hoverItem:hover span::before
{
  transform-origin: left;
  transform: scaleX(1);
} 

.hoverItem:hover p
{
  color: black;
}
.hoverItem:hover div p
{
  opacity: 0;
}

.hoverItem:hover .more
{
  opacity: 1;
  transform: translateX(0);
}

.hoverItem:hover .hover-img
{
  height: 13vw;
} 

.bthBlackArrow:hover polygon{
  fill: white;
}

.hoverArrow:hover svg
{
  transform: translateX(100%) rotate(90deg);
}

.hoverItem-b:hover .hover-img-b{
  height: 15rem;
}
.hoverItem-b:hover p{
  opacity: .7;
}